.titleContainer{
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    text-transform: uppercase;
    margin: 1em 0em 0em;
    color: #ffffff;
    border:1px solid #e5e7eb;
    border-width: 1px 1px 0px;
    padding: 0.8em;
    margin: 2rem 0.7rem 0rem;
    align-items: center;
}

.title{
    font-size: 1.5em;
    text-align: left;
    padding: 0em 0em;
}



.teamsContainer > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: space-between;
    text-align: center;
    grid-auto-rows: 1fr;
    gap: 0.4em;
    padding: 0.5em 0.5em;
    margin: 0rem 0.7rem 3rem;
    border: 1px solid #e5e7eb;
}



.roundContainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    max-height: 500px;
    margin: 0rem 0.7rem;
    padding: 0rem 0.5rem;
    overflow-y: auto;
    border: 1px solid #e5e7eb;
}

@media (max-width: 600px) {
    .roundContainer {
        grid-template-columns: 1fr;
    }
}


.roundItem {
        padding: 0.5em;
        margin: 1rem 0em;
        border: 2px solid #e5e7eb;
        border-radius: 0.4em;
        min-width: 0;
        overflow: hidden;
}

.roundItem:global(.girone){
    border-color: rgb(0, 161, 27);
}

.roundStart {
    font-size: 0.7em;
    margin: 0.3em 0em -0.5em;
    text-align: right;
}
.roundTitle {
        font-size: 1.1em;
        text-align: center;
        text-transform: uppercase;
        margin: 0.3em 0em 0.5em;
}

.roundTitle span {
    font-size: 0.9em;
    text-transform: lowercase;
}

.roundDetails {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    text-align: center;
    margin-bottom: 0.5em;
    border: 1px solid #e5e7eb;
    border-radius: 0.2em;
    padding: 0.5em 0em;
}

.roundDetails:global(.status-end){
    border-color: red
}

.roundDetails:global(.status-pending){
    border-color: rgb(255, 221, 0)
}



.matchContainer h4 {
    font-size: 1.1em;
    text-align: center;
    margin: 1em 0em 0em;
    padding-top: 0.3em;
}

/* .matchContainer > div {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
} */

.listMatch {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.5em;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0.5em 0.2em 0.5em;
    margin: 0.5em 0em;
}

.match {
    background-color: #e5e7eb;
    text-align: center;
    border: 1px solid #e5e7eb;
    color: #000000;
    border-radius: 0.2em;
}

.match:global(.end) {
    background-color: transparent;
    text-align: center;
    color: #ffffff;
    border-radius: 0.2em;
}

.match button {
    min-width: 5em;
    padding: 1em 0.5em;
}

.match p:first-child {
    font-weight: bold;
    margin: 0.3em 0em 1em;
    font-size: 0.9em;
}

.match p:last-child {
    font-weight: bold;
    font-size: 1.2em;
}
.matchActions{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5em;
    margin: 1em 0em 0.2em;
}

.matchActions button:first-child{
    grid-column-start: 1;
    grid-column-end: 5;
}

.matchActions button:nth-child(2){
    grid-column-start:1;
    grid-column-end: 3;
}

.matchActions button:nth-child(3){
    grid-column-start:3;
    grid-column-end: 5;
}