
.wrap_popup > h3{
    margin-top: 0;
    margin-bottom: 1em;
    font-weight: bold;
    text-align: center;
    color: black;
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.wrap_popup{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 450px;
    transform: translate(-50%, -50%);
    padding: 0.5em;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    color: black;
}

.wrap_popup p {
    margin: 1em 0 1.5em;
    min-width: 230px;
    text-align: center;
    color: black;
}

@media (width < 500px) {
    .wrap_popup {
        min-width: 90vw;
    }
}